.color-option {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0.7rem;
	height: 2.7rem;
	width: 10rem;
	border-radius: 0.25rem;
}

.color-option:hover {
}

.color-blind-option {
	width: 10rem;
	height: 44px;
}
