/* mobile */
@media only screen and (max-width: 768px) {
	.color-option {
		height: 4rem !important;
		width: 90vw !important;
	}
}

.color-blind {
	color: white !important;
	background-color: black !important;
	font-weight: 500 !important;
}

.color-option {
	height: 4rem;
	width: 10rem;
}
