body {
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	background-color: rgb(252, 252, 252);
}

.root-container {
	height: 100vh;
	width: 100vw;
	min-height: 100vh;
}

h1 {
	font-weight: 300;
}

.pointer {
	cursor: pointer;
}

.remove-decoration {
	text-decoration: none;
	color: black;
}

.remove-decoration:hover {
	text-decoration: none;
	color: black;
}
