body {
	font-family: monospace;
	font-weight: 300;
}

.root-container {
}

h1 {
	font-weight: 300;
}

.pointer {
	cursor: pointer;
}

.bold {
	font-weight: 500;
}

.remove-decoration {
	text-decoration: none;
	color: black;
}

.remove-decoration:hover {
	text-decoration: none;
	color: black;
}

.round-corners {
	border-radius: 11px;
}