body {
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	/* background-color: rgb(252, 252, 252); */
}

.root-container {
	min-height: 100vh;
}

h1 {
	font-weight: 300;
}

.pointer {
	cursor: pointer;
}

.bold {
	font-weight: 500;
}

.remove-decoration {
	text-decoration: none;
	color: black;
}

.remove-decoration:hover {
	text-decoration: none;
	color: black;
}
