@media only screen and (max-width: 768px) {
	.card-content {
		width: 75vw !important;
	}
}

.card-content {
	width: 20rem;
}

/* bootstrap */
.card-body {
	padding: 1rem 1.5rem;
}

.ps-card {
	display: flex;
	border: 2px solid transparent;
	align-items: center;
	margin: 0 2vw 2rem 2vw;
	box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
}

.left-clickable {
	position: absolute;
	width: 30%;
	left: 0;
	top:0;
	height: 60%;
}

.right-clickable {
	position: absolute;
	width: 30%;
	right: 0;
	top:0;
	height: 60%;
}

.ps-card-header {
	font-weight: 500;
}

.ps-card-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 20rem;
}

.arrow {
	font-size: 2rem;
}

.grey-arrow {
	color: rgb(95, 95, 95)
}

.arrow-container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.ps-card-footer {
	display: flex;
	width: 100%;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.ps-card-footer p {
	text-align: center;
	font-size: 1.5rem;
}