@media only screen and (max-width: 768px) {
	.ps-card-body .text{
		/* padding: 6rem 0 5rem !important; */
	}
	.card-content {
		width: 75vw !important;
	}
}

.best-choice {
	border: 2px solid var(--gold) !important;
	box-shadow: 0px 0px 15px 5px rgba(249, 201, 56, 0.2) !important;
}

.card-content {
	width: 20rem;
}

/* bootstrap */
.card-body {
	padding: 1rem 1.5rem;
}

.ps-card {
	display: flex;
	border: 2px solid transparent;
	align-items: center;
	margin: 0 2vw 2rem 2vw;
	box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.2);
}

.left-clickable {
	position: absolute;
	width: 30%;
	left: 0;
	top:0;
	height: 60%;
}

.right-clickable {
	position: absolute;
	width: 30%;
	right: 0;
	top:0;
	height: 60%;
}

.ps-card-header {
	font-weight: 500;
}

.best-choice-container {
	font-size: .9rem;
	height: 1rem !important;
}

.best-choice-text {
	position: relative;
	left: -0.5rem !important;
}

.ps-card-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ps-card-body .text {
	display: flex;
	user-select: none;
	position: relative;
	z-index: -2;
	height: 100%;
	width: 100%;
	padding: 6rem 0 6rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ps-card-body .main-text {
	margin-bottom: 0;
	font-size: 2.25rem;
	font-weight: 350;
	text-align: center;
}



.ps-card-body .sub-text {
	margin-bottom: 0;
	font-size: 1rem;
}

.ps-card .arrow {
	font-size: 2rem;
}

.grey-arrow {
	color: rgb(95, 95, 95)
}

.arrow-container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.ps-card-footer {
	display: flex;
	width: 100%;
	display: flex;
	text-align: center;
	flex-direction: column;
}

.ps-card-footer p {
	text-align: center;
	font-size: 1.5rem;
}