.footer {
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: inherit;
	margin-left: -25vw;
	text-align: center;
}

.footer .fa-heart {
	color: rgb(233, 53, 53);
}

.footer .bottom-text {
	display: block;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5rem;
}
