/* mobile */
@media only screen and (max-width: 599px) {
	.footer-container {
		bottom: -20vh !important;
		margin-bottom: 10vh;
		padding: 0 0.75rem;
	}
}

.footer-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3.5rem;
	font-size: 0.75rem;
	text-align: center;
	margin-bottom: 0;
}

.footer-container .fa-heart {
	color: rgb(233, 53, 53);
}

.footer-container .fa-star {
	color: rgb(255, 217, 0);
}
