/* mobile */
@media only screen and (max-width: 768px) {
	.parking-garage-button {
		width: 100%;
	}
}

.disabled {
	background-color: rgb(105, 104, 104) !important;
	pointer-events: none;
}

.parking-garage-button {
	z-index: 999;
	height: 4rem;
	font-size: 1.2rem;
	width: 100%;
	margin: 0;
}

.button-map-link {
	width: 100%;
}

.parking-button-container {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	width: 100%;
}

.button-shadow-gold, .button-shadow-orange {
	box-shadow: 0px 0px 20px 5px rgba(249, 201, 56, 0.4);
}

.button-shadow-purple {
	box-shadow: 0px 0px 30px 2px rgba(195, 97, 248, 0.5);
}

.button-shadow-payBySpace {
	box-shadow: 0px 0px 20px 5px rgba(23, 134, 237, 0.7);
}