.ps-card-body-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.body-main-text {
	font-size: 2.25rem;
	font-weight: 350;
	margin-bottom: 0;
}

.body-sub-text {
	margin-bottom: 0;
	font-size: 1rem;
}