:root {
	--green: #28a745;
	--gold: #ffc107;
	--orange: #ff9f1c;
	--purple: #773dbc;
	--grey: #f8f9fa;
}

.green-option {
	background-color: var(--green);
}
.gold-option {
	background-color: var(--gold);
}
.orange-option {
	background-color: var(--orange);
}
.purple-option {
	background-color: var(--purple);
}
.pay-by-space-option {
	background-color: var(--grey);
}

.green {
	color: var(--green);
}
.gold {
	color: var(--gold);
}
.orange {
	color: var(--orange);
}
.purple {
	color: var(--purple);
}
.pay-by-space {
	color: var(--grey);
}

.black {
	color: black;
}

.light-text {
	color: #ffffff !important;
}

.dark-text {
	color: #343a40 !important;
}
