/* mobile */
@media only screen and (max-width: 599px) {
	.title-greeting {
		margin-bottom: 0 !important;
	}

	.sub-title-greeting {
		padding: 0 0.7rem;
		margin-bottom: 4vh;
	}

	.inner-content-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 4rem !important;
		margin-top: 10vh;
	}

	.content-container {
		position: relative;
	}

	.color-option-container {
		justify-content: center;
		left: 0 !important;
	}
}

/* tablet */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
	.inner-content-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.color-option-container {
		justify-content: center;
		left: 0 !important;
	}
}

.content-container {
	position: relative;
	min-height: 100vh;
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inner-content-container {
	position: relative;
	top: -3vh;
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
	padding-bottom: 4rem;
}

.color-option-container {
	display: flex;
	position: relative;
	flex-flow: row wrap;
}

.popover-content {
	font-family: 'Roboto Mono', monospace !important;
	font-weight: 300;
	padding: 1.5rem;
	width: 100%;

	font-size: 0.9rem !important;
}

.popover-text-container {
	position: relative;
}

.popover-exit {
	position: absolute;
	top: -1rem;
	right: -1rem;
	font-size: 1rem;
}

.popover {
	max-width: 100%;
}

.popover-footer {
	padding-top: 10vh;
}

.text-content {
	margin-bottom: 5vh !important;
}

#center-text {
	text-align: center;
}
