/* mobile */
@media only screen and (max-width: 599px) {
	.inner-content-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.color-option-container {
		justify-content: center;
		left: 0 !important;
	}
}

/* tablet */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
	.inner-content-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.color-option-container {
		justify-content: center;
		left: 0 !important;
	}
}

.content-container {
	display: flex;
	position: relative;
	height: 100vh;
	width: 100vw;
	bottom: 10vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inner-content-container {
	display: flex;
	flex-direction: column;
}

.color-option-container {
	display: flex;
	position: relative;
	left: -0.9rem;
	flex-flow: row wrap;
}

.bottom-text-container {
	margin-top: 20%;
	text-align: center;
}

.title-greeting {
	font-size: 2rem;
}

.popover-content {
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	padding: 1.5rem;
	width: 100%;
	line-height: 1rem;
}

.popover-text-container {
	text-align: center;
}

.color-access-listings {
	font-weight: 400;
}

.popover {
	max-width: 100%;
}
