/* mobile */
@media only screen and (max-width: 768px) {
}

.footer-container {
	position: relative;
	width: 100%;
	font-size: 0.65rem;
	padding-bottom:1rem;
	padding: 0 3rem 1rem 3rem;
	text-align: center;
	height: 100%;
}

.footer-container .fa-heart {
	color: rgb(233, 53, 53);
}

.footer-container .fa-star {
	color: rgb(255, 217, 0);
}
