.icons-container {
	display: flex;
	position: fixed;
	z-index: 100;
	top: 1%;
	right: 1%;
}

.icon {
	padding: 0.5rem;
	margin: 0 0.25rem;
	color: white
}

.dark-icon-border {
	border: 1px solid rgba(255, 255, 255, 0.5);
}
