.full-title {
    margin-top: 2rem;
    font-size: 2rem;
}

.full-subtext {
    text-align: center;
}

.full-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}