.modal-body-text {
	text-align: center;
}

.modal {
	top: -18vh !important;
}
.modal-header {
	border-bottom: 0 solid rgb(0, 0, 0, 0) !important;
}

.confirm-button {
	width: 75px;
}

.modal-footer {
	border-top: 0 solid rgb(0, 0, 0, 0) !important;
}

.dark-mode-close .close {
	color: #fff !important;
}
