/* mobile */
@media only screen and (max-width: 599px) {
}

/* tablet */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
}
.parking-info-header {
	width: 100%;
	padding: 1rem;
}

.parking-info-header .centered-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.back-route-button {
	padding: 1rem;
	font-size: 1.5rem;
}

.parking-data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 6vh 3vh 0 3vh;
	padding: 5vh 0 5vh 0;
	border-top: 2px solid rgba(0, 0, 0, 0.125);
	border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.dark-borders {
	border-top: 2px solid rgba(255, 255, 255, 0.125);
	border-bottom: 2px solid rgba(255, 255, 255, 0.125);
}

/* sized by flexbox, not root */
.parking-info-container {
	position: relative;
	font-size: 14px;
}

#parking-info-footer-container {
	position: relative;
	top: 5vh;
}
