.back-route-container {
	display: block;
}

.back-route-button {
	font-size: 1.5rem;
}

.parking-info-container {
	height: 100vh;
	width: 100vw;
}

.parking-info-header {
	display: block;
	width: 100%;
	padding: 1rem;
}
