.header-container .alert {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	margin-bottom: auto;
	padding: 0.5rem 1.25rem;
	height: 3rem;
}

.header-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100%;
}

.alert .fas {
	margin-right: 1rem;
}
