.icons-container {
	display: flex;
	position: fixed;
	z-index: 100;
	top: .5rem;
	right: 1rem;
	justify-content: center;
	align-items: center;
	height: 2.3rem;
	width: 2.3rem;
	border-color: rgb(143, 143, 143) !important;
}

.icon {
	color: white;
	font-size: 1rem !important;
}

.dark-icon-border {
	border: 1px solid rgba(2.355, 255, 255, 0.5);
}
