:root {
	--green: #28a746;
	--gold: #f9c938;
	--orange: #ff8c00;
	--purple: #773dbc;
	--grey: rgb(159, 158, 158);
	--shaded-green: #24933e;
	--shaded-gold: #e1aa05;
	--shaded-orange: #e69119;
	--shaded-purple: #c191fc;
	--white: #fff;
}

/* DOM */
.white-hr {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* General */
.green {
	color: var(--green);
}
.gold {
	color: var(--gold);
}
.orange {
	color: var(--orange);
}
.purple {
	color: var(--shaded-purple);
}

.pay-by-space {
	color: var(--grey);
}
.grey {
	color: var(--grey);
}

.black {
	color: black;
}

.pay-by-space-background {
	background-color: var(--grey);
}
.grey-background {
	background-color: var(--grey);
}

.dark-text {
	color: #343a40 !important;
}

/* confirmation buttons (NOT COLOR OPTIONS) */
.green-button {
	background-color: var(--green) !important;
	border-color: var(--green) !important;
}
.gold-button {
	background-color: var(--gold) !important;
	color: #343a40 !important;
	border-color: var(--gold);
}
.orange-button {
	background-color: var(--orange) !important;
	border-color: var(--orange) !important;
}
.purple-button {
	background-color: var(--purple) !important;
	border-color: var(--purple) !important;
}


/* color options*/
.border-green {
	margin: 1rem 0.7rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 2px solid rgba(40, 167, 70, 0.7);
}
.border-gold {
	margin: 1rem 0.7rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 2px solid rgba(249, 201, 56, 0.7);
}
.border-orange {
	margin: 1rem 0.7rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 2px solid rgba(255, 140, 0, 0.7);
}
.border-purple {
	margin: 1rem 0.7rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 2px solid rgba(161, 89, 249, 0.7);
}

.green-color-background {
	color: var(--shaded-green);
	font-weight: 400;
}

.green-color-background:hover {
	background-color: var(--green) !important;
	border-color: var(--green) !important;
	color: #fff !important;
	font-weight: 500;
}

.gold-color-background {
	color: var(--shaded-gold);
	font-weight: 400;
}

.gold-color-background:hover {
	background-color: var(--gold) !important;
	border-color: var(--gold) !important;
	color: black !important;
	font-weight: 500;
}

.orange-color-background {
	color: var(--shaded-orange);
	font-weight: 400;
}

.orange-color-background:hover {
	background-color: var(--orange) !important;
	border-color: var(--orange) !important;
	color: #fff !important;
	font-weight: 500;
}

.purple-color-background {
	color: var(--shaded-purple);
	font-weight: 400;
}

.purple-color-background:hover {
	background-color: var(--purple) !important;
	border-color: var(--purple) !important;
	color: #fff !important;
	font-weight: 500;
}

/* DARK MODE */
.dark-mode {
	color: white !important;
	background-color: rgb(35, 39, 65) !important;
	opacity: 0.9;
}

.dark-mode-off-hue-dark {
	color: white !important;
	background-color: rgb(40, 45, 87) !important;
	opacity: 0.9;
}

.opaque {
	opacity: 1 !important;
}
