:root {
	--green: #28a746;
	--gold: #f9c938;
	--orange: #ff8c00;
	--purple: #773dbc;
	--grey: rgb(159, 158, 158);
	--shaded-green: #24933e;
	--shaded-gold: #e1aa05;
	--shaded-orange: #e69119;
	--shaded-purple: #582c8e;
}

.green-background {
	background-color: var(--green);
}
.gold-background {
	background-color: var(--gold);
}
.orange-background {
	background-color: var(--orange);
}
.purple-background {
	background-color: var(--purple);
}
.pay-by-space-background {
	background-color: var(--grey);
}
.grey-background {
	background-color: var(--grey);
}

.green {
	color: var(--green);
}
.gold {
	color: var(--gold);
}
.orange {
	color: var(--orange);
}
.purple {
	color: var(--purple);
}
.pay-by-space {
	color: var(--grey);
}
.grey {
	color: var(--grey);
}

.black {
	color: black;
}

.light-text {
	color: #ffffff !important;
}

.dark-text {
	color: #343a40 !important;
}

.green-button {
	background-color: var(--green);
	border-color: var(--green);
}
.gold-button {
	background-color: var(--gold);
	border-color: var(--gold);
}
.orange-button {
	background-color: var(--orange);
	border-color: var(--orange);
}
.purple-button {
	background-color: var(--purple);
	border-color: var(--purple);
}

.green-button:hover {
	background-color: var(--shaded-green);
	border-color: var(--shaded-green);
}
.gold-button:hover {
	background-color: var(--shaded-gold);
	border-color: var(--shaded-gold);
}
.orange-button:hover {
	background-color: var(--shaded-orange);
	border-color: var(--shaded-orange);
}
.purple-button:hover {
	background-color: var(--shaded-purple);
	border-color: var(--shaded-purple);
}
