:root {
	--green: #28a746;
	--gold: #f9c938;
	--orange: #ff8c00;
	--purple: #773dbc;
	--grey: rgb(159, 158, 158);
	--shaded-green: #24933e;
	--shaded-gold: #e1aa05;
	--shaded-orange: #e69119;
	--shaded-purple: #582c8e;
	--white: #fff;
}

/* General */
.green {
	color: var(--green);
}
.gold {
	color: var(--gold);
}
.orange {
	color: var(--orange);
}
.purple {
	color: var(--purple);
}
.pay-by-space {
	color: var(--grey);
}
.grey {
	color: var(--grey);
}

.black {
	color: black;
}

.pay-by-space-background {
	background-color: var(--grey);
}
.grey-background {
	background-color: var(--grey);
}

.light-text {
	color: #ffffff !important;
}

.dark-text {
	color: #343a40 !important;
}

/* confirmation buttons (NOT COLOR OPTIONS) */
.green-button {
	background-color: var(--green);
	border-color: var(--green);
}
.gold-button {
	background-color: var(--gold);
	border-color: var(--gold);
}
.orange-button {
	background-color: var(--orange);
	border-color: var(--orange);
}
.purple-button {
	background-color: var(--purple);
	border-color: var(--purple);
}

.green-button:hover {
	background-color: var(--shaded-green);
	border-color: var(--shaded-green);
}
.gold-button:hover {
	background-color: var(--shaded-gold);
	border-color: var(--shaded-gold);
}
.orange-button:hover {
	background-color: var(--shaded-orange);
	border-color: var(--shaded-orange);
}
.purple-button:hover {
	background-color: var(--shaded-purple);
	border-color: var(--shaded-purple);
}

/* color options*/
.border-green {
	margin: 1rem 0.7rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 2px solid rgba(40, 167, 70, 0.7);
}
.border-gold {
	margin: 1rem 0.7rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 2px solid rgba(249, 201, 56, 0.7);
}
.border-orange {
	margin: 1rem 0.7rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 2px solid rgba(255, 140, 0, 0.7);
}
.border-purple {
	margin: 1rem 0.7rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 2px solid rgba(119, 61, 188, 0.7);
}

.green-color-background {
	color: var(--shaded-green);
	font-weight: 300;
}

.green-color-background:hover {
	background-color: var(--green) !important;
	border-color: var(--green) !important;
	color: #fff !important;
	font-weight: 500;
}

.gold-color-background {
	color: var(--shaded-gold);
	font-weight: 300;
}

.gold-color-background:hover {
	background-color: var(--gold) !important;
	border-color: var(--gold) !important;
	color: #fff !important;
	font-weight: 500;
}

.orange-color-background {
	color: var(--shaded-orange);
	font-weight: 300;
}

.orange-color-background:hover {
	background-color: var(--orange) !important;
	border-color: var(--orange) !important;
	color: #fff !important;
	font-weight: 500;
}

.purple-color-background {
	color: var(--shaded-purple);
	font-weight: 300;
}

.purple-color-background:hover {
	background-color: var(--purple) !important;
	border-color: var(--purple) !important;
	color: #fff !important;
	font-weight: 500;
}

/* DARK MODE  */
.dark-mode {
	color: white !important;
	background-color: rgb(35, 39, 65);
	opacity: 0.9;
}

.dark-mode-off-hue-dark {
	color: white !important;
	background-color: rgb(46, 50, 87);
	opacity: 0.9;
}
